includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    excludePaths:
        - src/**/*Test.php
    ignoreErrors:
        - identifier: trait.unused
    tmpDir: build/phpstan

